<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <script src="{% static 'web/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <title>Welcome</title>
</head>
<body>

    <div>
        <img id="t-l" src="{% static 'img/top-left.svg' %}" onerror="this.style.display='none'"/>
        <img id="t-r" src="{% static 'img/top-right.svg' %}" onerror="this.style.display='none'"/>
        <img id="b-l" src="{% static 'img/bottom-left.svg' %}" onerror="this.style.display='none'"/>
        
    </div>
    <main>
        <h1>Project Manager</h1>
        <p>
            Welcome<br>
            Just login or create an account<br>
            and we can get<br>
            started</p>
        <ul>
            <li><a href="/login/">Login</a></li>
    
        </ul>
    </main>
    
</body>
</html>