<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />


		

        {% load static %}
        <script src="{% static 'web/login.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
		<title>Login</title>
	</head>
	<body>
		<header>
			<h1>Project Manager</h1>
		</header>

		<main>
			<div class="space"></div>
			<div class="form">
				<div class="space"></div>
				<div class="space">
					<form action="...">
						<div class="form-item"></div>
						<div class="form-item inactive">
							<label for="email">Email</label> <br />
							<input type="email" name="email" id="email" />
						</div>
						<div class="form-item">
							<label for="username">Username</label> <br />
							<input type="text" name="username" id="username" />
						</div>
						<div class="form-item">
							<label for="password">Pasword</label> <br />
							<input type="password" name="pasdword" id="password" />
						</div>
						<div class="form-item inactive">
							<label for="r-password">Repeat Password</label> <br />
							<input type="password" name="r-password" id="r-password" />
						</div>
						<div class="form-item b">
							<div class="buttons" >
								<a onclick="toggleVisible()" id="noAcount">Doesn't have an acount<br />Register.</a>
							</div>
							<div class="buttons inactive" >
								<a onclick="toggleVisible()" id="acount"
									>Already have an acount?<br />Login.</a
								>
							</div>
							<div class="buttons">
								<input type="submit" name="register" id="register" />
							</div>
						</div>
						<div class="form-item"></div>
					</form>

					<div class="space"></div>
				</div>
			</div>
			<div class="space"></div>
		</main>

		<script src="js/script.js"></script>
	</body>
</html>
