<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />


		

        {% load static %}
        <script src="{% static 'web/login.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
		<title>Login</title>
	</head>
	<body>
		<header>
			<h1>Project Manager</h1>
		</header>

		<main>
			<div class="space"></div>
			<div class="form">
				<div class="space"></div>
				<div class="space">
					<form action="...">
						<div class="form-item"></div>
						<div class="form-item inactive">
							<label for="email">Email</label> <br />
							<input type="email" name="email" id="email" />
						</div>
						<div class="form-item">
							<label for="username">Username</label> <br />
							<input type="text" name="username" id="username" />
						</div>
						<div class="form-item">
							<label for="password">Pasword</label> <br />
							<input type="password" name="pasdword" id="password" />
						</div>
						<div class="form-item inactive">
							<label for="r-password">Repeat Password</label> <br />
							<input type="password" name="r-password" id="r-password" />
						</div>
						<div class="form-item b">
							<div class="buttons" >
								<a onclick="toggleVisible()" id="noAcount">Doesn't have an acount<br />Register.</a>
							</div>
							<div class="buttons inactive" >
								<a onclick="toggleVisible()" id="acount"
									>Already have an acount?<br />Login.</a
								>
							</div>
							<div class="buttons">
								<input type="submit" name="register" id="register" />
							</div>
						</div>
						<div class="form-item"></div>
					</form>

					<div class="space"></div>
				</div>
			</div>
			<div class="space"></div>
		</main>

		<script src="js/script.js"></script>
	</body>
</html>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		
		{% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}" />

    <link rel="icon" href="{% static 'img/icon.svg'%}" />
    <title>Proyect Mannager Login</title>
  </head>
  <body>
    <header>
      <h2><img src="{% static 'img/icon.svg'%}" alt="Logo" /> Login</h2>
    </header>
    <main>
      <div class="filler1"></div>
      <div class="main">
        <!--Form register-->
        <form action="" method="get" class="unseen" id="registro">
          <div class="input_container">
            <!--Email-->
            <label for="email" class="noselect">Email</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="input_container">
            <!--Repertir Email-->
            <label for="r_email" class="noselect">Repite tu Email</label>
            <input type="email" name="r_email" id="r_email" />
          </div>
          <div class="input_container">
            <!--Usuario-->
            <label for="username" class="noselect">Usuario</label>
            <input type="text" name="username" id="username" />
          </div>
          <div class="input_container">
            <!--Contraseña-->
            <label for="pasword" class="noselect">Contraseña</label>
            <input type="password" name="password" id="password" />
            <!--<input type="checkbox" onclick="showPassword()"> Show-->
          </div>
          <div class="input_container">
            <!--Repetir contraseña-->
            <label for="r_password" class="noselect">Repetir contraseña</label>
            <input type="password" name="r_password" id="r_password" />
            <!--<input type="checkbox" onclick="showR_Password()"> Show-->
          </div>
          <div class="input_container">
            <input type="submit" value="Registrarse" class="submit_button" />
          </div>
        </form>
        <!--Form login-->
        <form action="" method="get" id="login">
          <div class="input_container">
            <!--Usuario-->
            <label for="username" class="noselect">Usuario</label>
            <input type="text" name="username" id="username" />
          </div>
          <div class="input_container">
            <!--Contraseña-->
            <label for="pasword" class="noselect">Contraseña</label>
            <input type="password" name="password" id="password" />
            <!--<input type="checkbox" onclick="showPassword()"> Show-->
          </div>
          <div class="input_container">
            <input type="submit" value="Login" class="submit_button" />
          </div>
        </form>
        <div class="input_container">
          <span class="texto_cambio noselect" onclick="toggleForm()"
            >Ya tienes una cuenta? Ingresa</span
          >
        </div>
      </div>
      <div class="filler2"></div>
    </main>

    <script src="{% static 'web/scrip.js'%}"></script>
  </body>
</html>
